body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
}

.header {
  background-color: #081b29;
  color: white;
  padding: 1rem 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.logo {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.nav-links a:hover {
  color: #eb2a08;
}

.hero {
  background: url("res.jpg") no-repeat center center/cover;
  height: 100vh;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 3rem;
  margin: 0;
}

.hero p {
  font-size: 1.5rem;
}

.btn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #f5300d;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #882b09;
}

.menu {
  padding: 2rem 0;
  background-color: #290f087b;
  text-align: center;
}

.menu h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.menu-items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.menu-item {
  background-color: #081b29;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: calc(33% - 2rem);
  box-sizing: border-box;
}

.menu-item h3 {
  margin-top: 0;
  color: #ededed;
}

.menu-item p {
  margin-top: 0;
  color: #00abf0;
}

.menu-item .price {
  color: #ff634787;
  font-weight: bold;
}

.about {
  padding: 2rem 1rem;
  text-align: center;
  background-color: #08291b3e;
}

.about h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about p {
  max-width: 800px;
  margin: 0 auto;
}

.contact {
  padding: 2rem 1rem;
  background-color: rgba(0, 123, 255, 0.39);
  text-align: center;
}

.contact h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact p {
  max-width: 800px;
  margin: 0 auto;
}

.footer {
  background-color: #081b29;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

.footer a {
  text-decoration: none;
  color: white;
  font-size: 0.7rem;
}
